# width x height
# the "virtual" size is the outer rectangle.

# each display's size is also width x height
# if a display's size is too far within the outer 
# rectangle, Xdmx imposes a virtual barrier on 
# mouse movement.

virtual tiled 1920x1080 {
    option +xinerama;
    
    option -ignorebadfontpaths;
    option -noglxproxy;
    option -norender;

    option -input "192.168.1.11:0";

    display "192.168.1.11:0" 1920x1080 @0x0;
    display "192.168.1.13:0" 1280x1024 @420x0;
}


#     xdisplay "samsung" 1920x1080;
#     xdisplay "samsung" 1920x1080;
#     xdisplay "samsung" 1920x1080;
#     display "hp" 1680x1080;
#     display "asus" 1680x1080;
#     display "lg" 1920x1080;
#     display "lg" 1920x1080;
#     display "lg" 1920x1080;
#     display "lg" 1920x1080;
#     display "samsung" 1680x1080;
#     display "samsung" 1680x1080;
#     display "samsung" 1680x1080;


# display "samsung" 1680x1080;  display "samsung" 1920x1080;  display "samsung" 1680x1080;
# display "lg"      1920x1080;  display "samsung" 1920x1080;  display "lg"      1920x1080;
# display "lg"      1920x1080;  display "samsung" 1920x1080;  display "lg"      1920x1080;
